#footer.wrapper {
  background: var(--splitter) no-repeat center top;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


#footer ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#footer ul li {
  padding: 0.5em 0;
  text-decoration: none;
}

#footer a {
  padding: 0;
  color: var(--color-nav);
}


#footer a:hover, #footer a:focus {
  color: var(--color-link);
  text-decoration: none;
}


.footer__chunk .rocket {
  width: 6rem;
  margin-top: -1.6rem;
  margin-left: -1.1rem;
}


#copyright .logo-letters > * {
  width: 3em;
  fill: var(--color-fg);
  margin-right: 0.5em;
}

@media screen and (max-width: 700px) {
  .footer__chunk {
    flex-basis: 45%;
    max-width: 50%;
    margin-bottom: 3rem;
  }

  .footer__chunk:nth-child(1) { order: 3 }
  .footer__chunk:nth-child(2) { order: 1 }
  .footer__chunk:nth-child(3) { order: 2 }
  .footer__chunk:nth-child(4) { order: 4 }

  #footer ul li {
    text-decoration: underline;
    padding-top: 1em;
    /* text-decoration: underline; */
  }
}