<footer id="header" class="container wrapper">
  {{!-- <div id="header" class="wrapper"></div> --}}
  <div class="footer__chunk">
    <!-- <img class="emblem" src="./assets/logo-emblem.svg" /> -->
    <div id="copyright">
      <a href="https://tertle.io">
        <svg
          title="Tertle logo"
          alt="Logo"
          class="logo-letters"
          width="66"
          height="20"
          viewBox="0 0 66 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.58994 7.83157H8.44176V5.44304H5.58994V1.99785H2.02077V5.44304H0V7.83157H2.02077V14.7219C2.02077 15.5122 2.02077 16.116 2.07327 16.7464C2.23072 18.7177 3.18426 19.6145 5.85238 19.6145C6.63968 19.6145 7.427 19.5612 8.20557 19.428V17.0661C6.21104 17.2258 5.72116 16.9063 5.61619 15.5388C5.58994 15.1748 5.58994 14.7752 5.58994 14.3046V7.83157ZM23.5144 12.0404C23.5144 8.23116 21.2837 4.97244 17.0672 4.97244C12.8507 4.97244 10.0776 8.09796 10.0776 12.3867C10.0776 17.3058 12.9994 19.6944 16.7873 19.6944C20.024 19.6944 22.6134 18.0429 23.3133 14.7752H19.7353C19.4992 16.2758 18.3881 17.1372 16.8573 17.1372C15.2039 17.1372 13.9092 16.2137 13.673 13.2746H23.4619C23.4969 12.8662 23.5144 12.4488 23.5144 12.0404ZM16.9098 7.5208C18.6156 7.5208 19.6041 8.70176 19.8315 10.9127H13.7693C14.0842 8.5952 15.2477 7.5208 16.9098 7.5208ZM32.2886 4.99019C31.4138 5.00796 30.5741 5.33648 29.9354 5.94028L28.8507 7.88486V5.33648H25.2728V19.3214H28.8507V12.9106C28.8507 9.15459 30.3291 7.81382 33.3035 8.01804V5.09675C32.971 5.01682 32.6298 4.9813 32.2886 4.99019ZM40.7042 7.83157H43.5561V5.44304H40.7042V1.99785H37.1351V5.44304H35.1142V7.83157H37.1351V14.7219C37.1351 15.5122 37.1351 16.116 37.1876 16.7464C37.3449 18.7177 38.2985 19.6145 40.9667 19.6145C41.7539 19.6145 42.5412 19.5612 43.3199 19.428V17.0661C41.3252 17.2258 40.8355 16.9063 40.7305 15.5388C40.7042 15.1748 40.7042 14.7752 40.7042 14.3046V7.83157ZM48.8397 0H45.2706V14.8196C45.2706 15.7431 45.2706 16.4001 45.3231 17.0306C45.4018 18.8419 46.5128 19.4991 48.2712 19.4991C49.0059 19.508 49.7409 19.4724 50.4756 19.3924V16.8974C49.2597 16.9773 48.9447 16.7375 48.866 16.0272C48.8397 15.6631 48.8397 15.2902 48.8397 14.7397V0ZM65.6183 12.0404C65.6183 8.23116 63.3876 4.97244 59.1711 4.97244C54.9547 4.97244 52.1815 8.09796 52.1815 12.3867C52.1815 17.3058 55.1032 19.6944 58.8911 19.6944C62.1279 19.6944 64.7173 18.0429 65.4171 14.7752H61.8392C61.603 16.2758 60.492 17.1372 58.9611 17.1372C57.3078 17.1372 56.0131 16.2137 55.7769 13.2746H65.5658C65.6008 12.8662 65.6183 12.4488 65.6183 12.0404ZM59.0136 7.5208C60.7195 7.5208 61.708 8.70176 61.9354 10.9127H55.8731C56.1881 8.5952 57.3516 7.5208 59.0136 7.5208Z"
            fill="white"
          />
        </svg>
      </a>
      <p class="fs-xs">© 2022</p>

      <img
        theme="light"
        class="rocket"
        title="Whoooosh!"
        alt="Rocket"
        src=""
        width="100%"
        height="100%"
      />
    </div>
  </div>

  <div class="footer__chunk">
    <h4>Tertle Shell</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://linkedin.com/company/tertle">LinkedIn</a></li>
      <li><a href="https://twitter.com/tertleio">Twitter</a></li>
      <li><a href="https://instagram.com/tertleio">Instagram</a></li>
      <li><a href="https://github.com/tertleio">GitHub</a></li>
      <li>
        <a
          href="mailto: &#104;&#101;&#108;&#108;&#111;&#64;&#116;&#101;&#114;&#116;&#108;&#101;&#46;&#105;&#111;"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>

  <div class="footer__chunk">
    <h4>Tertle Hatch</h4>
    <ul>
      <li><a href="/">For Founders</a></li>
      <!-- <li><a href="">For Investors</a></li> -->
      <li><a href="https://app.tertle.io/join">Sign Up</a></li>
      <li><a href="https://app.tertle.io/login">Login</a></li>
      <li><a href="https://app.tertle.io/privacy">Privacy</a></li>
    </ul>
  </div>

  <div class="footer__chunk">
    <h4>Tertle Scale</h4>
    <ul>
      <li><a href="/">Coming Soon 🚀</a></li>
      <!-- <li><a href="">Join Waitlist</a></li>
      <li><a href="">For Hirers</a></li>
      <li><a href="">For Contractors</a></li> -->
    </ul>
  </div>
</footer>
