<div class="modal-container">
  <div id="titlebar">
    <h3>Join Waitlist</h3>
    <button
      id="close-modal"
      class="close"
      style="color: black"
      title="Close"
    ></button>
  </div>

  <div class="modal-input-container">
    <form id="signup-form">
      <!-- <div class="flex-row modal-header">
        <p class="info">
          Now let's put a name to it.
        </p>
      </div> -->
      <div id="modal-body">
        <div class="flex-col">
          <div class="flex-item">
            <input
              id="email"
              name="email"
              class="field valid"
              placeholder="joe@domain.com"
              type="text"
              value=""
              tabindex="-1"
            />
            <label class="disabled" for="email">Email</label>
          </div>
        </div>

        <div class="flex-row">
          <div class="flex-item">
            <input
              id="first-name"
              name="first-name"
              class="field"
              placeholder="Something3"
              type="text"
              value=""
            />
            <label for="first-name">First name</label>
          </div>
          <!-- <div class="flex-item">
            <input
              id="last-name"
              name="last-name"
              class="field"
              placeholder="Something"
              type="text"
              value=""
            />
            <label for="last-name">Last Name</label>
          </div> -->
        </div>

        <div class="flex-col select">
          <div class="flex-item select">
            <select
              id="location"
              class="field dropdown"
              name="looking-for"
              value=""
            >
              <option value=""></option>
              <option value="Software Developer">Software Developer</option>
              <option value="Designer">Designer</option>
              <option value="User Researcher">User Researcher</option>
              <option value="Product Manager">Product Manager</option>
              <option value="Any skillset">Any skillset</option>
              <option value="Undecided">Undecided</option>
              <option value="Looking for other">Other...</option>
            </select>
            <label for="location">Country</label>
          </div>

          <div style="display: none" class="flex-item other two">
            <input
              id="looking-for-other"
              class="field inactive"
              type="text"
              placeholder="Other"
              value=""
            />
          </div>
        </div>
      </div>

      <div id="modal-footer">
        <div class="validation-feedback" style="opacity: 0">
          Please fill in the required fields marked with ' X '
        </div>
        <button class="btn btn-primary submit" type="submit" method="POST">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
