<div class="modal-container">
  <div id="titlebar">
    <h3>Waitlist</h3>
    <button class="modal-close" title="Close">
      <!-- prettier-ignore -->
      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="16.1421" width="22.753" height="2" rx="1" transform="rotate(-45 0 16.1421)" fill=""/>
        <rect x="2.12109" width="22.753" height="2" rx="1" transform="rotate(45 2.12109 0)" fill=""/>
        </svg>
    </button>
  </div>

  <div class="modal-input-container">
    <p id="modal-success" class="modal-info" style="display: none">
      Thanks for signing up. We'll be in touch via email soon!
    </p>

    <form id="formTwo">
      <!-- <p class="modal-info">
        We've just sent an email your way. Please etner the pin below to confirm
        your email address.
      </p> -->
      <div id="modal-body">
        <div class="flex-item">
          <input
            id="email"
            class="field"
            placeholder="example@domain.com"
            type="email"
            name="email"
            value=""
            required
          />
          <label for="email">Email</label>
        </div>

        <div class="flex-item">
          <input
            id="first-name"
            class="field"
            placeholder="Joe"
            type="text"
            name="firstName"
            value=""
            required
          />
          <label for="first-name">First name</label>
        </div>
        <!-- <div class="flex-item">
            <input
              id="last-name"
              name="last-name"
              class="field"
              placeholder="Something"
              type="text"
              value=""
            />
            <label for="last-name">Last Name</label>
          </div> -->

        <div class="flex-item">
          <select
            id="location"
            class="field select"
            name="country"
            value=""
            required
          >
            <option value="">Select a country...</option>
            <option value="GB">🇬🇧 United Kingdom</option>
            <option value="US">🇺🇸 United States</option>
            <option value="other">❓ Other</option>
          </select>
          <label id="location-label" for="location">Country</label>
        </div>

        <!-- <div style="display: none" class="flex-it`em other two">
            <input
              id="looking-for-other"
              class="field inactive"
              type="text"
              placeholder="Other"
              value=""
            />
          </div> -->
      </div>

      <div id="modal-footer">
        <div class="validation-feedback" style="opacity: 0">
          Please fill in the required fields marked with 'X'
        </div>
        <button class="btn btn--primary" type="submit" method="POST">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
