@import './_reset.scss';

// Globals
:root {
    font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Colors
$color-primary: #1477FF;
$color-secondary: #37352E;
$color-text: #707070;
$color-bg: #ffffff;
$color-grey1: #EEEEEE;

// Typography
body, html, p {
    font-family: proxima-nova, sans-serif; // proxima regular
    font-weight: 400;
    font-style: normal;
    color: $color-text;
    scroll-behavior: smooth;
}

// $large-font: 50px <-- fix typography
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: $color-secondary;
    margin-bottom: 1rem;
    line-height: 1.5em;
} h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
} h2 {
    font-size: 2.3rem;
    color: $color-primary;
    margin-bottom: 1.2rem;
} h3 {
    font-size: 1.2em;
} h4 {
    font-size: 1.6rem;
    color: $color-text;
    line-height: 2.4rem;
} p {
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
} .bold {
    font-family: proxima-nova, sans-serif; // proxima bold
    font-weight: 700;
    font-style: normal;
} 


// Buttons & Links
a:link, a:visited {
    color: $color-primary;
}   a:hover {
    transition: all 0.5s;
    text-decoration: underline;
}

.btn {
    border: 1px solid $color-primary;
    border-radius: 0.25rem;
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.88rem;
    text-decoration: none !important;
    text-align: center;
    padding: 0.8rem 1.3rem;
 .btn:hover {
    text-decoration: none;
    cursor: pointer;
}
    &.btn-primary {
        color: $color-bg;
        background: $color-primary;
    }
    &.btn-secondary {
        background: none;
    }
}

// Forms
.sign-up {
    display: flex;
    justify-content: space-between;
    background: $color-grey1;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 25px;
    position: relative;
    .btn {
        position: absolute;
        right: 10px;
    }
}
.form {
    &::placeholder {
        color: $color-text;
    }
    background: $color-grey1;
    font-family: proxima-nova, sans-serif;
    color: $color-text;
    border: none;
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 11px 15px;
    &.text-field {
        
    } 
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    .dual-left {
        float: left;
        width: 48%;
    }
    .dual-right {
        float: right;
        width: 48%;
    }
    .submit {
        float: right;
    }
    .modal-content {
        position: absolute;
        border-radius: 1rem;
        color: $color-bg;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;
        max-width: 800px;
        background: $color-bg;
        border: 1px solid $color-grey1;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
        }
}
