body {
    outline: none;
}
// SIGNUP INIT
#nav-init {
    & .btn {
        border-radius: 0 0.25em 0.25em 0;
    }
    & .sign-up {
        padding: 0;
    }
}
.sign-up {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: $color-grey1;
    border-radius: 0.3em;
    padding: 0.35em;
    outline: 0;
}

.field2 {
    &::placeholder {
        color: $color-text;
    }
    background: $color-grey1;
    font-family: proxima-nova, sans-serif;
    color: $color-text;
    border: 1px solid $color-grey1;
    flex: 1;
    margin-right: 0.5em;
    outline: 0;
    border-radius: 0.25rem;
    font-size: 1em;
    padding: 0.75em  1em;
}

// resets weird padding but not padding /  rendering of select options
 select {
    -webkit-appearance: none;
    -moz-appearance : none;
    border:solid 1px #555;
    border-radius:3px;
    padding: 5px;
    outline: none;
    background: url('../img/dropdown.svg') no-repeat bottom 1.1em right 0.2em !important;
 }
.field {
    font-family: proxima-nova, sans-serif;
    color: $color-text;
    border: 0;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
    font-size: 1rem;
    padding: 0.5em 0;
     &::placeholder {
        color: transparent; 
    }
    & + label { // --start position
        position: absolute;
        left: 0;
        bottom: 1.4em;
        font-size: 0.9em;
        transition: all 0.05s;
        color: $color-text;
    } &:focus + label, &:not(:placeholder-shown) + label { // --valid/focused position
        position: absolute;
        bottom: 1.6em;
        font-size: 0.7em;
        transform: translateY(-1.75em);
        transition: all 0.05s;
        font-weight: 700;
    }
    &.focused {
        background: url('../img/focused-anim.gif') no-repeat bottom  15px right;
        background-size: 22px;
        border-bottom: 1px solid $color-orange;
        // Static: background: url('../img/focused.svg') no-repeat center right;
        // SVG Converted to string: background-image: url("data:image/svg+xml;char  set=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' width='40' height='40'%3e%3cstyle type='text/css'%3e %23c %7banimation: x 5s alternate infinite;%7d %40keyframes x %7b from %7b fill: gold;%7d to %7b fill: purple%7d %7d %3c/style%3e%3ccircle id='c' cx='20' cy='20' r='20' fill='gold'/%3e%3c!-- works in chrome ... not in IE and others --%3e%3c/svg%3e");
    }/*
    &:focus, &:focus.valid, &:focus.invalid {
        background: url('../img/focused-anim.gif') no-repeat bottom  15px right;
        background-size: 22px;
        border-bottom: 1px solid $color-orange;
    }*/
    &.valid {
        border-bottom: 1px solid $color-green;
        background: url('../img/valid.svg') no-repeat center right;
        background-size: 0.8em;
    }
    &.invalid {
        border-bottom: 1px  solid $color-red;
        background: url('../img/invalid.svg') no-repeat center right;
        background-size: 1em;
        
    }
    &.dropdown + label { // (!) need to have 'Your/Their skillset' display after menu
        bottom: -5px;
        color: $color-text;
        font-size: 0.9em;
        font-weight: normal;
    }
}
// (!) Do this the 'proper' way with html/css predominently 
/* // Had problems with this default css refocusing when js render field invalid
input:focus, input.valid:focus, input.not-valid:focus {
    border-bottom: 1px solid $color-orange;
    background: url('../img/focused.svg') no-repeat center right;
}
*/
.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
// SIGNUP MODAL
.close {
    background: url('../img/close-thin.svg') no-repeat center center;
    background-size: 875;
    width: 2.5em;
    height: 2.5em;
}

p.info {
    text-indent: 33px;
    background: url('../img/i.svg') no-repeat top 0.30em left;
    background-size: 1.1em;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    .modal-container { // --scrollable area
        position: absolute;
        border-radius: 0rem 0 1.2rem 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-bg;
        box-shadow: 0px 39px 90px #000000E3;
        /*
        box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        */
    }
    #titlebar {
        margin-top: -3.9em;
        display: flex;
        background: $color-secondary;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        padding: 0 5% 0 5%;
        border-radius: 1.2rem 1.2em 0 0;
        left: 0;
        top: 0;
        width: 100%;
        h6 {
            color: $color-white;
        }
    }
    #modal-footer {
        display: flex;
        background: red;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.5em 0 0 0;
        background: $color-bg;
        border-radius: 0 0 1.2rem 1.2em;
        left: 0;
        bottom: 0;
        .validation-feedback {
            color: red;
            font-size: 0.8em;
            margin-right: 1em;
            line-height: 1.5em;
        }
    }
    .container {
        input { // reset ios etc.
            outline: none;
            box-shadow: none;
            border: none;
        }
        overflow-y: auto; 
        max-height: calc(90vh - 210px); // --adds scroll height
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        padding: 5% 10%;
        align-content: space-around;
        }
        .flex-col {
            flex-basis: 100%;
            flex-direction: column;
        }
        .flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .flex-item {
            position: relative; // --absolute position labels relative to this
            padding: 1.1em 0 0.2em 0;
            flex: 0 47%;
        }
        .flex-item.select {
           //  background: url('../img/dropdown.svg') no-repeat bottom 1.1em right 0.2em;
        }
}

@media screen and (max-width: 768px) {
    
    .modal .modal-container { 
        width: 95%;
    }
    .flex-item .select {
        width: 25% !important;
    }
    .flex-item .other {
        width: 70%;
    }
}
