// SIGNUP INIT
.sign-up {
    justify-content: space-between;
    background: $color-grey1;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 25px;
    position: relative;
    .btn {
        position: absolute;
        right: 10px;
    }
}

.field2 {
    &::placeholder {
        color: $color-text;
    }
    background: $color-grey1;
    font-family: proxima-nova, sans-serif;
    color: $color-text;
    border: none;
    width: 100%;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 11px 15px;
}


.field {
    font-family: proxima-nova, sans-serif;
    color: $color-text;
    border: 0;
    border-bottom: 2px solid $color-grey1;
    width: 100%;
    font-size: 1rem;
    padding: 11px 0;
    & + label {
        position: absolute;
        left: 0;
        bottom: 34px;
        font-size: 0.9em;
        transition: all 0.05s;
        font-style: normal;
        color: $color-text; // create variable for the styling
    }
    &:focus + label, &:not(:placeholder-shown) + label { // --check that placeholder is not active to maintain poisiton if user has input
        position: absolute;
        transform: translateY(-1.8em);
        transition: all 0.05s;
        font-weight: 700
    }
    &::placeholder {
        color: transparent;
    }
    &.focused {
    border-bottom: 1px solid $color-orange;
    background: url('../img/focused.svg') no-repeat center right;
    }
    &.valid {
        border-bottom: 1px solid $color-green;
        background: url('../img/valid.svg') no-repeat center right;
    }
    &.invalid {
        border-bottom: 1px solid $color-red;
        background: url('../img/invalid.svg') no-repeat center right;
    }
    &.dropdown + label { // (!) need to have 'Your/Their skillset' display after menu
        bottom: 8px;
        font-weight: normal;
    }
}

#skillset, #looking-for {
    background: none; // removes validation icons from js injection
};  

/* // Had problems with this default css refocusing when js render field invalid
input:focus, input.valid:focus, input.not-valid:focus {
    border-bottom: 1px solid $color-orange;
    background: url('../img/focused.svg') no-repeat center right;
}
*/

// SIGNUP MODAL

.close {
    background: url('../img/close-thin.svg') no-repeat center center;
    background-size: 875;
    width: 2.5em;
    height: 2.5em;
}

p.info {
    text-indent: 33px;
    background: url('../img/i.svg') no-repeat top 0.30em left;
    background-size: 1.1em;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    .modal-container {
        position: absolute;
        border-radius: 0rem 0 1.2rem 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-bg;
        box-shadow: 0px 39px 90px #000000E3;
        /*
        box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        */
    }
    #titlebar {
        margin-top: -63px;
        display: flex;
        background: $color-primary;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        padding: 0 5% 0 5%;
        border-radius: 1.2rem 1.2em 0 0;
        left: 0;
        top: 0;
        width: 100%;
        h6 {
            color: $color-white;
        }
    }
    #modal-footer {
        display: flex;
        background: red;
        justify-content: flex-end;
        align-items: center;
        padding: 4% 10% 5% 10%;
        background: $color-bg;
        border-radius: 0 0 1.2rem 1.2em;
        left: 0;
        bottom: 0;
    }
    .flex-container {
        input {
            outline: none;
        }
        overflow-y: auto; 
        max-height: calc(90vh - 210px); // --adds scroll height
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        padding: 5% 10%;
        align-content: space-around;
    } 
        .flex-col {
            flex-basis: 100%;
            flex-direction: column;
            .flex-item {
                position: relative; // --to position labels relative to this
                padding: 4% 0;
            } 
        }

        .flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .flex-item {
                position: relative; // --to position labels relative to this
                padding: 4% 0;
                flex: 0 46%;
            }
        }
}

@media screen and (max-width: 768px) {
    .flex-container .flex-item { flex: 0 100% !important; height: 80% !important;}
    
    .modal .modal-container { 
        width: 95%;
    }
}
