@media screen and (max-width: 700px) {
    :root {
        font-size: 13px;
    }
    h2 {
        float: left;
    }
    
// nav
.wrap { 
    padding: 0 2.5em; // padding on  all wrappers
}
 #header {
     padding: 0 1.5em;
    nav li {
        display: none;
    }
 }

.container {
        overflow: hidden;
    }
    #hero {
        height: inherit;
        flex-wrap: wrap;
        .sign-up {
            max-width: 100%;
        }
        .hero-img {
            display: none;
        }
         .flex {
            max-width: 100%;
            padding-top: 8%;
        } 
    }
    #how-it-works, #faq {
        background-size: 200%;
        h2 {
        text-align: left;
        }
        ::before, ::after {
            display: none;
        }
    }
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 10px;
    }
}