@media screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }
  //   h2 {
  //     float: left;
  //   }
  //   .dt {
  //     display: none;
  //   }
  //   .mb {
  //     display: block;
  //     ul {
  //       width: 90%;
  //     }
  //     li {
  //       // --hero ul li's
  //       padding-left: 0 !important;
  //       padding-bottom: 0.3em;
  //       line-height: 1.3em;
  //     }

  // nav
  .wrap {
    padding: 0 2em; // padding on  all wrappers
  }
  #header {
    padding: 0 1.5em;
    nav li {
      display: none;
    }
  }

  .container {
    overflow: hidden;
  }
  #hero {
    height: inherit;
    flex-wrap: wrap;
    background-size: 40em;
    &.container {
      overflow: hidden;
      padding-bottom: 0;
    }
    h4 {
      margin-top: 1.3em;
    }
    .sign-up {
      max-width: 100%;
      margin-bottom: 0;
    }
    .hero-img {
      width: 100%;
    }
    .flex {
      max-width: 100%;
      padding-top: 8%;
    }
    .flex-2 {
      margin-left: 0;
    }
    .hero-img {
      margin-bottom: 1.7em;
      width: 15em !important;
    }
  }
  #how-it-works,
  #faq {
    background-size: 200%;
    h2 {
      text-align: left;
    }
    // ::before,
    // ::after {
    //   display: none;
    // }
  }

  #modal-footer {
    padding: 1em 0 1em 0;
  }

  @media screen and (max-width: 320px) {
    :root {
      font-size: 11px;
    }
  }
}
