ol {
  /* list-style: list-item; */
  line-height: 1.2;
}

ol li {
  padding: 0.6em 0.25em;
}

#posts .content-wrapper { margin-top: 2em; }
#posts h1 { text-align: center; } 

#post img { width: 100%; height: 100%; margin-top: 1em;}
#post { max-width: 650px;}
#post h2 { justify-content: flex-start; margin-top: 2em; margin-bottom: 1em; }

.post-thumbnail { width: 100%; height: 100%; border-radius: 0.1em; }
.post-img-container { margin: 2.5em 0; } 
.post-img-container img { width: 100%; border: 1px solid var(--color-highlight);}
.post-img-container a { padding: 0 0.6em; }
.post-img-container i  { 
  display: flex;
  margin-top: 0.5em;
  justify-content: center; 
}


.post-container {
  /* cursor: pointer; */
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid var(--color-highlight);
  /* border: 1px solid var(--color-bg); */
  padding: 1.75em;
  padding-top: calc(1.75em + 3px);
  border-radius: 0.75em;
  margin-bottom: 1em;
}


.post-container:hover { border-color: var(--color-primary); }
.post-container a:hover { text-decoration: none; }

.post-body {
  display: flex;
  cursor: pointer;
  
  /* background: blue; */
}

/* .post-content {
  border: 1px solid green;
} */

.post-aside {
  width: 12.5em;
  margin-left: 1em;
  background: grey;
  border-radius: 0.25em;
  border: 1px solid var(--color-highlight);
}

.post-info {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.post-info > * {
  align-items: center;
}


.post-author {
  display: flex;
}

.post-info img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  border-radius: 5em;
}