a:link,
a:visited {
  color: var(--color-blue);
}
a:hover {
  transition: all 0.5s;
  text-decoration: underline;
}

.btn {
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.88rem;
  text-decoration: none !important;
  text-align: center;
  padding-left: min(1.5rem, 10%); 
  padding-right: min(1.5rem, 10%);
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  cursor: pointer;
} .btn:hover {
    text-decoration: none;
}

.btn.btn--primary {
    border: 1px solid var(--color-primary);
    color: var(--color-bg);
    background: var(--color-primary);
  } 
.btn.btn--secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: none;
}

.btn.btn__lg {
  padding: 1.2em 2em;
  border-radius: 0.4em;
  font-size: 0.8em;
  /* box-shadow: rgb(107, 155, 114) 0px 15px 25px -10px; */
}