/* a, a:link,
a:visited {
  color: var(--color-link);
} */

a {
  color: var(--color-link);
} a:hover, a:focus {
    color: var(--color-link);
    text-decoration: underline;
  }

.btn { 
  font-family: 'Poppins', sans-serif;
  border-radius: 0.6em;
  /* transition: all 0.5s; <- this is added in scroll.js for nav cta to have insta theme swap */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  /* padding-left: min(1rem, 5%); 
  padding-right: min(1rem, 5%); */
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  cursor: pointer;
} 
.btn:hover, .btn--primary {
    border: 1px solid var(--color-primary);
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-bg) !important;
}
.btn--secondary {
  border: 1px solid var(--color-primary);
  background: none;
  color: var(--color-primary) !important;
}
.btn__lg {
  padding: 1.2em 2em;
  border-radius: 0.8em;
  font-size: 1em;
  /* box-shadow: rgb(107, 155, 114) 0px 15px 25px -10px; */
}