 /* * {
      outline: 1px solid red;
   } */
  
.wrapper {
  width: 100%;
  padding: 0 4em; 
  overflow: hidden;
}
.container {
  padding: 0.8em 0;
  max-width: 1150px;
  margin: 0 auto;
}

ul {
  font-size: 0.7em;
}

#header.wrapper {
  position: fixed;
  z-index: 9999;
  background: var(--color-bg);
}
  #logo {
    width: 5.5em;
  }

  #header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header ul {
    display: inline-flex;
    align-items: center;
    color: var(--color-text);
  } 
    #header li {
      padding: 0.3em 1.3em;
    } 

    #header ul a,
    #header ul a:visited {
        color: var(--color-text);
        text-decoration: none;
    }

    #header ul a:hover {
      text-decoration: none;
      color: var(--color-fg)
    }




#hero {
  display: flex;
  height: 80vh;
  justify-content: center;
  background: url('../assets//bg-pattern.png') no-repeat bottom center;
  padding-bottom: 0;
  padding-top: 2em;
  align-content: center;
}
  #hero h1 {
    padding-bottom: 0.1em;
  }
  #hero-img { 
    width: 16em;
    padding: 1em;
  }
  #hero .emoji {
    width: 0.8em; 
    vertical-align: bottom;
    margin-left: 0.25em;
    padding-bottom: 0.2em;
  }
  #hero .hero-img {
    margin-bottom: 2em;
    width: 19.5em !important;
  }
  #hero .flex {
    padding: 3em 0 0em 0;
    text-align: center;
  }
  #hero .join {
    margin-top: 1.75em;
  }

#how-it-works,
#faq {
  background: url('../assets//bg-shadow.png') no-repeat top center;
  display: block;
}

#how-it-works .container,
#faq .container {
  display: flex;
  padding: 4em 0;
  max-width: 475px;
  flex-wrap: wrap;
}

  .flex {
    margin-bottom: 2.5em;
    text-align: left;
  }
  .flex-0 {
    flex: 1;
    text-align: center;
  }
  .flex-3 img {
      width: 3em;
      margin-right: 1em;
      padding-top: 10px;
  }

#footer .woosh {
  position: relative;
  right: -2.5em;
  margin: 0 auto;
  border: none !important;
  overflow: visible;
}

.woosh::before {
  content: '';
  background: url('../assets//tertle-rocket.gif') no-repeat top right;
  position: absolute;
  background-size: 10em;
  top: 0;
  right: -1em;
  height: 10em;
  width: 10em;
}

#footer .container {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid var(--color-grey1);
  padding: 2em 0;
}
 #footer img {
    margin-left: 3px;
  }
    #footer ul {
      display: flex;
      justify-content: space-between;
    } #footer li {
      padding: 0 1em;
    }


.four-oh-four {
  display: flex;
  margin-top: -2em;
  padding: 0 1em;
  flex-direction: row-reverse;
  justify-content: center;
  height: 45em;
  background-image: url('../assets//tertle-rocket.gif');
  background-size: 40em;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

.copyright { margin-right: 1em;}