@import '_reset.css';
@import 'typography.css';
@import 'buttons.css';
@import 'responsive.css';
@import './components/menu.css';
@import './components/header.css';
@import './components/footer.css';

:root {
  scroll-behavior: auto;
  scroll-behavior: smooth;
  /* theme */
  --color-primary: var(--color-primary-dark);
  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);
  --color-link: var(--color-primary-dark);
  --color-text: var(--color-grey3);
  --color-nav: var(--color-grey4);
  --separator: url('../assets/separator-dark.svg');
  --splitter: url('../assets/splitter-dark.svg');
  --bg-pattern: url('../assets/bg-pattern-dark.svg');
  --color-highlight: var(--color-grey5);
  --logo-letters: url('../assets/logo-letters-dark.svg');
  /* colors */
  --color-primary-light: #60964f;
  --color-primary-dark:  #00FF00;
  --color-dark: #000;
  --color-light: #fff;
  --color-third: #37352e;
  --color-grey1: #eeeeee;
  --color-grey2: #b2b2b2;
  --color-grey3: #ADADAD;
  --color-grey4: #7B7B7B;
  --color-grey5: #242424;
  --color-orange: #ff9b00;
  --color-green: #94bb77;
  --color-red: #eb3333;
  --color-blue: #3582b9;
}

[theme="light"] {
  --color-primary: var(--color-primary-light);
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
  --color-text: #7B7B7B;
  --color-nav: var(--color-grey3);
  --color-link: var(--color-blue);
  --color-highlight: #E5E5E5;
  --bg-pattern: url('../assets/bg-pattern-light.svg');
  --separator: url('../assets/separator-light.svg');
  --splitter: url('../assets/splitter-light.svg');
  --logo-letters: url('../assets/logo-letters-light.svg');
}

#matrix {
  height: 100%;
  width: 100%;
  position: relative;
}
/*
#matrix::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 20%,
      rgb(0, 255, 76) 100%
    );
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
} */

#matrix::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 10%,
      rgb(0, 0, 0) 100%
    );
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}

#matrix canvas {
  margin: 0 auto;
  display: block; 
}

html, body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-dark);
  }
} */
