.ico {
  width: 1.5em;
  text-align: center;
  vertical-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
} .ico:hover{
  background: var(--color-highlight);
} .ico:focus {
  background: red;
}

/* no clue why this won't vertically center without custom padding... */
.ico-burger { padding-top: 0.03rem; }

.ico svg > * { fill: var(--color-fg); }

.menu-root { position: relative;}
/* arrow */
.menu-root::after { 
  position: absolute;
  visibility: hidden;
  content: "";
  border-left: 0.5rem solid var(--color-link);
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--color-link);
  border-bottom: 0.5rem solid transparent;
  transform: rotate(45deg);
  left: 35%;
  top: 2.9rem;
  z-index: -99;
}

.ico .menu-root::after { top: 3.3rem;  }

/* hover filler */
.menu-root::before {
  position: absolute;
  top: 1.6rem;
  content: '';
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2rem;
}

/* .menu-wrapper { position: relative; } */
/* .menu-root { position: relative; } */

.menu-wrapper:hover .menu,
.menu-wrapper:hover > .menu-root::after { visibility: visible; z-index: 1; };

.menu-wrapper:focus > .menu,
.menu-wrapper:focus > .menu-root::after { visibility: visible; z-index: 1;}

.menu-wrapper:focus-within > .menu,
.menu-wrapper:focus-within > .menu-root::after { visibility: visible; z-index: 1; }


/* ul.item:hover > .menu,
ul.item li:focus-within > .menu,
ul.item li:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
} */

.menu {
  position: absolute;
  visibility: hidden;
  display: flex;
  left: 0;
  top: 3.3rem;
  width: 100%;
  min-width: 12em;
  background: var(--color-bg);
  border-radius: 0 0 0.6em 0.6em;
  border-radius: 0.6em;
  border-top: 3px solid var(--color-link);
  border-right: 1px solid var(--color-highlight); 
  border-bottom: 1px solid var(--color-highlight);
  border-left: 1px solid var(--color-highlight);
}

.menu a span { margin-right: auto; margin-left: 0.25em; }


  .menu ul {
    text-align: right;
    display: flex;
    font-size: 1.1rem;
    width: 100%;
    flex-direction: column;
    color: var(--color-text);
    margin-top: -2px;
  }

  .menu li:not(:last-child) { border-bottom: 1px solid var(--color-highlight); }

  .header .menu a {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-end;
  }
  .header .menu a:hover, .header .menu a:focus { 
    background: var(--color-link);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: none;
   }

  .menu li:first-child a { 
    border-radius: 0.6rem 0.6rem 0 0; 
    padding-top: 1.5em;
  }
  .menu li:last-child a { 
    padding-bottom: 1.5em;
    border-radius: 0 0 0.6rem 0.6rem
  };



.switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  width: 2.8rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .1s;
  border: 0.18rem solid var(--color-nav);
}

.slider:before {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: var(--color-fg);
  -webkit-transition: .4s;
  transition: .1s;
}

/* input:checked + .slider {
  background-color: var(--color-bg)
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px white;
} */

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}