

/* .user-menu-btn {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  cursor: pointer;
  margin-left: 1em;
} */


.burger-menu {
  position: relative;
  z-index: 999;
  border-radius: 0.2em;
  padding: 0.1rem;
  cursor: pointer;
} .burger-menu:hover{
  background: var(--color-grey1);
} .burger-menu:focus {
  background: red;
}

.burger-line {
  width: 1.5rem;
  margin: 0.4rem;
  border-radius: 2rem;
  height: 0.19rem;
  background: var(--color-nav);
}

/* .burger {} */

.menu {
  position: absolute;
  display: none;
  left: -1em;
  margin-top: 0.7em;
  background: var(--color-bg);
  border-radius: 0 0 0.6em 0.6em;
  border-radius: 0.6em;
  /* light */
  border-top: 3px solid var(--color-primary);
  border-right: 1px solid var(--color-highlight); 
  border-bottom: 1px solid var(--color-highlight);
  border-left: 1px solid var(--color-highlight);
} 
.menu::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    /* light */
    border-left: 0.7rem solid var(--color-primary);
    border-right: 0.7rem solid transparent;
    border-top: 0.7rem solid var(--color-primary);
    border-bottom: 0.7rem solid transparent;
    transform: rotate(45deg);
    left: 2.1rem;
    top: -0.5rem;
    z-index: -1;
}

  .menu ul {
    text-align: right;
    display: flex;
    max-width: 20rem;
    min-width: 15rem;
    flex-direction: column;
  }

  .menu li:not(:last-child) {
    border-bottom: 1px solid var(--color-highlight);
  }

  .menu a {
    padding: 0.6rem 1em 0.6rem 2.5em;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: var(--color-nav);
    color: var(--color-text);
  }
  .menu a:hover { 
    background: var(--color-fg);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: none;
   }
  .menu li:first-child a { 
    border-radius: 0.6rem 0.6rem 0 0; 
    padding-top: 1.5rem;
  }
  .menu li:last-child a { 
    padding-bottom: 1.5rem;
    border-radius: 0 0 0.6rem 0.6rem
  ;}



.switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  width: 2.8rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .1s;
  border: 0.18rem solid var(--color-nav);
}

.slider:before {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: var(--color-fg);
  -webkit-transition: .4s;
  transition: .1s;
}

/* input:checked + .slider {
  background-color: var(--color-bg)
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px white;
} */

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}