/* desktop */
@media screen and (min-width: 1024px) {
:root { font-size: 18px; }
.tb { display: none; }
.mb { display: none; }
}

/* tablet */
@media screen and (max-width: 1024px) {
  :root { font-size: 16px; }
  .mb { display: none; }
}

/* mobile */
@media screen and (max-width: 600px) {
  :root { font-size: 15px; }
  .mb { display: block; }
  .dt { display: none; }
}

/* mobile mini */
@media screen and (max-width: 350px) {
  :root { font-size: 14px; }
}