/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*/
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  height: 100vh;
}

button {
  background: none;
  border: 0;
}

h1, h2, h3, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  line-height: 1.5em;
}

h1 {
  font-size: 3.8em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.3em;
  color: #000;
}

h3 {
  font-size: 1.21em;
  color: #000;
}

h4 {
  font-size: 1.5em;
  color: #707070;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  color: #707070;
}

h6 {
  font-size: 1.5em;
  color: #ffffff;
}

p {
  font-size: 1.05em;
  margin-bottom: 1.5em;
  line-height: 1.7em;
}

.bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:link, a:visited {
  color: #3582B9;
}

a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: underline;
}

.btn {
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.88rem;
  text-decoration: none !important;
  text-align: center;
  padding: 0.8rem 1.3rem;
}

.btn .btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-primary {
  border: 1px solid #60964F;
  color: #ffffff;
  background: #60964F;
}

.btn.btn-secondary {
  border: 1px solid #60964F;
  color: #60964F;
  background: none;
}

body {
  outline: none;
}

#nav-init .btn {
  border-radius: 0 0.25em 0.25em 0;
}

#nav-init .sign-up {
  padding: 0;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #EEEEEE;
  border-radius: 0.3em;
  padding: 0.35em;
  outline: 0;
}

.field2 {
  background: #EEEEEE;
  font-family: proxima-nova, sans-serif;
  color: #707070;
  border: 1px solid #EEEEEE;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.5em;
  outline: 0;
  border-radius: 0.25rem;
  font-size: 1em;
  padding: 0.75em  1em;
}

.field2::-webkit-input-placeholder {
  color: #707070;
}

.field2:-ms-input-placeholder {
  color: #707070;
}

.field2::-ms-input-placeholder {
  color: #707070;
}

.field2::placeholder {
  color: #707070;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 1px #555;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  background: url("../img/dropdown.svg") no-repeat bottom 1.1em right 0.2em !important;
}

.field {
  font-family: proxima-nova, sans-serif;
  color: #707070;
  border: 0;
  border-bottom: 1px solid #D7D7D7;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 0;
  /*
    &:focus, &:focus.valid, &:focus.invalid {
        background: url('../img/focused-anim.gif') no-repeat bottom  15px right;
        background-size: 22px;
        border-bottom: 1px solid $color-orange;
    }*/
}

.field::-webkit-input-placeholder {
  color: transparent;
}

.field:-ms-input-placeholder {
  color: transparent;
}

.field::-ms-input-placeholder {
  color: transparent;
}

.field::placeholder {
  color: transparent;
}

.field + label {
  position: absolute;
  left: 0;
  bottom: 1.4em;
  font-size: 0.9em;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  color: #707070;
}

.field:focus + label, .field:not(:placeholder-shown) + label {
  position: absolute;
  bottom: 1.6em;
  font-size: 0.7em;
  -webkit-transform: translateY(-1.75em);
          transform: translateY(-1.75em);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  font-weight: 700;
}

.field.focused {
  background: url("../img/focused-anim.gif") no-repeat bottom 15px right;
  background-size: 22px;
  border-bottom: 1px solid #FF9B00;
}

.field.valid {
  border-bottom: 1px solid #94BB77;
  background: url("../img/valid.svg") no-repeat center right;
  background-size: 0.8em;
}

.field.invalid {
  border-bottom: 1px solid #EB3333;
  background: url("../img/invalid.svg") no-repeat center right;
  background-size: 1em;
}

.field.dropdown + label {
  bottom: -5px;
  color: #707070;
  font-size: 0.9em;
  font-weight: normal;
}

/* // Had problems with this default css refocusing when js render field invalid
input:focus, input.valid:focus, input.not-valid:focus {
    border-bottom: 1px solid $color-orange;
    background: url('../img/focused.svg') no-repeat center right;
}
*/
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.close {
  background: url("../img/close-thin.svg") no-repeat center center;
  background-size: 875;
  width: 2.5em;
  height: 2.5em;
}

p.info {
  text-indent: 33px;
  background: url("../img/i.svg") no-repeat top 0.3em left;
  background-size: 1.1em;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.modal .modal-container {
  position: absolute;
  border-radius: 0rem 0 1.2rem 1.2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 39px 90px #000000E3;
          box-shadow: 0px 39px 90px #000000E3;
  /*
        box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        */
}

.modal #titlebar {
  margin-top: -3.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 5% 0 5%;
  border-radius: 1.2rem 1.2em 0 0;
  left: 0;
  top: 0;
  width: 100%;
}

.modal #titlebar h6 {
  color: #ffffff;
}

.modal #modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5em 0 0 0;
  background: #ffffff;
  border-radius: 0 0 1.2rem 1.2em;
  left: 0;
  bottom: 0;
}

.modal #modal-footer .validation-feedback {
  color: red;
  font-size: 0.8em;
  margin-right: 1em;
  line-height: 1.5em;
}

.modal .container {
  overflow-y: auto;
  max-height: calc(90vh - 210px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5% 10%;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.modal .container input {
  outline: none;
}

.modal .flex-col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .flex-item {
  position: relative;
  padding: 1.1em 0 0.2em 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 47%;
          flex: 0 47%;
}

@media screen and (max-width: 768px) {
  .modal .modal-container {
    width: 95%;
  }
  .flex-item .select {
    width: 25% !important;
  }
  .flex-item .other {
    width: 70%;
  }
}

.wrap {
  width: 100%;
  padding: 0 4em;
  background: #ffffff;
}

.container {
  padding: 6em 0;
  max-width: 1150px;
  margin: 0 auto;
}

#header.wrap {
  position: fixed;
  z-index: 9999;
}

#header.wrap #logo {
  width: 8em;
}

#header.wrap header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#header.wrap ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header.wrap li {
  padding: 0.3rem 1.3rem;
  font-size: 1.05em;
}

#header.wrap li a:link, #header.wrap li a:visited {
  color: #707070;
  text-decoration: none;
}

#header.wrap li a:hover {
  color: #60964F;
}

#header.wrap .btn {
  margin-left: 1em;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/bg-pattern.png") no-repeat bottom right;
  height: 700px;
}

#hero .emoji {
  width: 0.8em;
  vertical-align: bottom;
  margin-left: 0.25em;
  padding-bottom: 0.2em;
}

#hero h4 {
  margin-top: 1em;
}

#hero ul {
  margin-left: 0.3em;
  margin-top: 1.2em;
  font-size: 1.5em;
  color: #707070;
  line-height: 1.2em;
}

#hero li {
  list-style-position: outside;
  margin-bottom: 0.35em;
  padding-left: 1.3em;
}

#hero li.no {
  background: url("../img/emoji/no.png") no-repeat center left;
  background-size: 0.8em;
}

#hero li.yes {
  background: url("../img/emoji/celebrate.png") no-repeat center left;
  background-size: 0.9em;
}

#hero .hero-img {
  width: 400px;
}

#hero .flex-1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
}

#hero .flex-2 {
  -ms-flex-negative: 5;
      flex-shrink: 5;
  margin-left: 3em;
}

#hero .sign-up {
  margin-top: 3.5em;
  width: 450px;
}

#how-it-works, #faq {
  background: #fff url("../img/bg-shadow.png") no-repeat top center;
  position: relative;
}

#how-it-works h2, #faq h2 {
  width: 100%;
  margin-bottom: 1.5em;
}

#how-it-works h3, #faq h3 {
  margin-bottom: 0.6em;
}

#how-it-works .container, #faq .container {
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#how-it-works .container .flex, #faq .container .flex {
  margin-bottom: 3em;
}

#how-it-works .container .flex-0, #faq .container .flex-0 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#how-it-works .container .flex-3 img, #faq .container .flex-3 img {
  width: 3em;
  margin-right: 1em;
  padding-top: 10px;
}

#how-it-works .container ::before, #faq .container ::before {
  content: '';
  background: url("../img/separator-left.png") no-repeat center left;
  height: 250px;
  width: 25px;
  top: 30%;
  left: -30%;
  position: absolute;
}

#how-it-works .container ::after, #faq .container ::after {
  content: '';
  background: url("../img/separator-left.png") no-repeat center left;
  height: 250px;
  width: 25px;
  top: 30%;
  right: -30%;
  position: absolute;
}

#footer .container {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-top: 1px solid #EEEEEE;
  padding: 3em 0;
}

#footer .container img {
  margin-left: 3px;
}

main {
  padding-top: 2em;
}

.mb {
  display: none;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 13px;
  }
  h2 {
    float: left;
  }
  .dt {
    display: none;
  }
  .mb {
    display: block;
  }
  .mb li {
    padding-left: 0 !important;
    padding-bottom: 0.3em;
    line-height: 1.3em;
  }
  .wrap {
    padding: 0 2.2em;
  }
  #header {
    padding: 0 1.5em;
  }
  #header nav li {
    display: none;
  }
  .container {
    overflow: hidden;
  }
  #hero {
    height: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #hero .sign-up {
    max-width: 100%;
  }
  #hero .hero-img {
    display: none;
  }
  #hero .flex {
    max-width: 100%;
    padding-top: 8%;
  }
  #how-it-works, #faq {
    background-size: 200%;
  }
  #how-it-works h2, #faq h2 {
    text-align: left;
  }
  #how-it-works ::before, #how-it-works ::after, #faq ::before, #faq ::after {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */