@import './_base.scss';
@import './_forms.scss';

* {
   //  outline: 1px solid red;
}

// Frame init
.wrap {
    width: 100%;
    padding: 0 4em; // padding width of all elements
    background: $color-bg;
} .container { 
    padding: 6em 0; // padding top/bottom of all
    max-width: 1150px;
    margin: 0 auto;
}

// Header
#header.wrap {
    position: fixed;
    z-index: 9999;
    #logo {
        width: 8em;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
    } ul {
        display: inline-flex;
        align-items: center;
    } li {
        padding: 0.3rem 1.3rem;
        font-size: 1.05em;
        a {
            &:link, &:visited {
                color: $color-text;
                text-decoration: none;
            }
            &:hover {
                color: $color-primary;
            }
        }
    } 
    .btn {
        margin-left: 1em;
    }
}

#hero {
    display: flex;
    z-index: -999;
    justify-content: space-between;
    background: url('../img/bg-pattern.png') no-repeat bottom right;
    height: 700px;
    .emoji {
        width: 1.1rem; // (!) rem inherit? adjust size depending on text size?/div 
        vertical-align: center;
        margin-right: 0.4em;
        margin-left: 0.5em;
        &.right {
            vertical-align: bottom;
            width: 1em;
            padding-top: 0.15em;
            margin-left: 0.15em;
        }
    }
    h4 {
        margin-top: 1em;
    }
    .hero-img {
        width: 400px;
    }
    .flex {

    } .flex-1 {
        flex-shrink: 0;
        flex-basis: 700px;
    } .flex-2 {
        flex-shrink: 5;
        margin-left: 3em;
    } 
    .sign-up {
        margin-top: 3.5em;
        width: 450px;
    }
}

#how-it-works, #faq {
    background: #fff url('../img/bg-shadow.png') no-repeat top center;
    position: relative;
    h2 {
        width: 100%;
        margin-bottom: 1.5em;
    }
    h3 {
        margin-bottom: 0.6em;
    }
}

#how-it-works .container, #faq .container {
    max-width: 500px;
    flex-wrap: wrap;
    .flex {
        margin-bottom: 3em;
    } .flex-0 {
        flex: 1;
        text-align: center;
    } .flex-3 {
        img { 
            width: 3em;
            margin-right: 1em; 
            padding-top: 10px;
        }
    }
    position: relative;
    ::before { // fix before/after to be responsive on dynamic height of content
        content: '';
        background: url('../img/separator-left.png') no-repeat center left;
        height: 250px;
        width: 25px;
        top: 30%;
        left: -30%;
        position: absolute;
    } ::after {
        content: '';
        background: url('../img/separator-left.png') no-repeat center left; // fix img right.png
        height: 250px;
        width: 25px;
        top: 30%;
        right: -30%;
        position: absolute;
    }
}

#footer .container{
    align-content: flex-start;;
    border-top: 1px solid $color-grey1;
    padding: 3em 0;
    img {
        margin-left: 3px;
    }
}
main {
    padding-top: 2em;
}

@import './_responsive.scss';