@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url('../assets/fonts/proxima-nova-regular.woff2') format('woff2');
  font-display: swap;
}


@font-face {
  font-family: 'Ubuntu-Mono';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/ubuntu-mono-regular.woff2') format('woff2');
  font-display: swap;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--color-fg);
  line-height: 1.3;
  margin-bottom: 0.6em;
}

h1, .h1 {
  font-size: 3rem;
  margin-bottom: 0.1em;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.3rem;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 0.9rem;
}

h6, .h6 {
  font-size: 0.9rem;
}

p, .p {
  font-family: 'Proxima-Nova', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6em;
  color: var(--color-text);
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.align-l { text-align: left; }
.align-c { text-align: center; }
.align-r { text-align: right; }

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 1.05rem;
  line-height: 1.4em;
}

.fs-md {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.fs-lg {
  font-size: 1.6rem;
}

.fs-xl {
  font-size: 3rem;
}