#overlay {
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  animation-name: show-rabbit;
  animation-duration: 0.25s;
  background: url('../assets/rabbit.png') no-repeat;
  background-size: 8rem;
  background-position: center bottom -2.3rem;
  animation-fill-mode: forwards;
}

@keyframes show-rabbit {
  0% { background-position: center bottom -10rem; }
  100% { background-position: center bottom -2.3rem; }
}

@keyframes hide-rabbit {
  0% { background-position: center bottom -2.3rem; }
  100% { background-position: center bottom -10rem; }
}


input:checked + .slider:before {
  -webkit-transform: translateX(1.29rem);
  -ms-transform: translateX(1.29rem);
  transform: translateX(1.29rem);
}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  /* background: radial-gradient(15em at center, #373737, #000) no-repeat; */
  /* margin-top: 1em; */
  background: var(--bg-pattern) no-repeat center bottom;
  background-size: clamp(45rem, 80vw, 70rem);
}


.hero__header {
  margin-top: -20vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

@media (max-width: 600px) {
  .hero__header { margin-top: -14vh; }
  .hero__header h1 { line-height: 1.1em; }
  .hero__header h2 {
    font-size: 1.9rem;
    width: 80vw;
    line-height: 2.5rem;
    margin-top: 0.5rem;
  }
}

.hero__body {
  /* background: url('../assets/terminal.svg') no-repeat center top; */
  margin: 3em 1em 2rem 1em;
}


.signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0.4rem;
  gap: 0.25rem;
}

.signup .email {
  background-color: var(--color-highlight);
  /* border: 1px solid var(--color-primary); */
  flex: 2;
  border-radius: 0.25rem;
}

.signup button {
  flex-grow: 1;
}

.signup input {
  color: var(--color-fg);
  min-width: 16rem;
  font-size: 16px;
  padding: 1.4em;
}

.typer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30ch;
}

.typer p {
  font-family: 'Metrophobic', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  overflow: hidden; 
  border-right: 1px solid; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .1em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 2s step-end infinite;
    color: var(--color-primary);
    font-size: 1.1rem;
  /* color: #C1FFC1; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--color-primary); }
}


.content {
  margin: 0 auto;
}

.content h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;
}

.content .__single {
  max-width: 25rem;
  margin: 0 auto;
  padding-bottom: 2em;
}
