/* .wrapper {
  width: 100%;
  overflow: hidden;

} */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  animation-name: show-rabbit;
  animation-duration: 0.25s;
  background: url('../assets/rabbit.png') no-repeat;
  background-size: 8rem;
  background-position: center bottom -2.3rem;
  animation-fill-mode: forwards;
}

@keyframes show-rabbit {
  0% { background-position: center bottom -10rem; }
  100% { background-position: center bottom -2.3rem; }
}

@keyframes hide-rabbit {
  0% { background-position: center bottom -2.3rem; }
  100% { background-position: center bottom -10rem; }
}


.wrapper {
  padding: 1rem;
}

.container {
  padding: 3rem 1rem;
  max-width: 1150px;
  margin-inline: auto;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.29rem);
  -ms-transform: translateX(1.29rem);
  transform: translateX(1.29rem);
}


ul {
  font-size: 0.7em;
}


#header.wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--color-bg);
}

#header .container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

  .header__left {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    height: 1em;
    flex-shrink: 3;
  }

  .logo { display: flex; margin-right: 1rem}
  .logo-emblem > *  { fill: var(--color-fg); }

  .header__mid  {
    position: relative;
    height: 1em;
    display: flex;
    justify-content: center;
  }


    .header a,
    .header a:visited {
        color: var(--color-nav);
        text-decoration: none;
        padding: 0.5em 1em;
        height: 100%;
    }

    .header li.active a { 
      color: var(--color-fg);
    }

    .header a:hover, .header a:focus {
      text-decoration: none;
      color: var(--color-link);
    }

    .header__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
    } 

  
@media screen and (max-width: 900px) {
  .header__left {
    flex: 0;
  }
}

#hero.wrapper {
  width: 100%;
  /* background: radial-gradient(15em at center, #373737, #000) no-repeat; */
  padding-top: 4em;
  padding-bottom: 8em;
  background: var(--bg-pattern) no-repeat center bottom;
  background-size: clamp(45rem, 80vw, 70rem);
}


.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2.5em;
}

.hero__body {
  margin-top: 3em;
  /* background: url('../assets/terminal.svg') no-repeat center top; */
}


.signup {
  width: 90vw;
  display: flex;
  max-width: 16.5em;
  margin-top: 1em;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: var(--color-highlight);
}

.signup .email {
  padding: 1em;
  width: 100%;
  background-color: inherit;
  color: var(--color-fg);
  margin-right: 0.5em;
  font-size: 0.6em;
  flex: 2;
  border: 0;
  border-radius: 0.2em;
}

.signup button {
  max-width: 10rem;
}

.typer {
  font-family: 'Metrophobic', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0 auto;
  width: 22ch;
}

.typer p {
  overflow: hidden; 
  border-right: 1px solid; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .1em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 2s step-end infinite;
    color: var(--color-primary);
    font-size: 1.1rem;
  /* color: #C1FFC1; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-primary); }
}

#features.wrapper, #faq.wrapper {
  background: var(--separator) no-repeat center top;
  background-size: clamp(23em, 90vw, 80rem);
  margin: 0 auto;
}

.content.container {
  max-width: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-chunk {
  display: block;
  width: 100%;
  padding-bottom: 2em;
}

.content h2, #hero h2 {
  margin-bottom: 1.5em;
}