/* .wrapper {
  width: 100%;
  overflow: hidden;

} */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; 
  pointer-events: none;
  animation-name: show-rabbit;
  animation-duration: 0.25s;
  background: url('../assets/rabbit.png') no-repeat;
  background-size: 8rem;
  background-position: center bottom -1.4em;
  animation-fill-mode: forwards;
}

@keyframes show-rabbit {
  0% { background-position: center bottom -7em; }
  100% { background-position: center bottom -1.4em; }
}

@keyframes hide-rabbit {
  0% { background-position: center bottom -1.4em; }
  100% { background-position: center bottom -7em; }
}


.switch {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 1.5rem;
  margin-top: 0.42rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .1s;
  border: 0.18rem solid var(--color-text);
}

.slider:before {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: var(--color-fg);
  -webkit-transition: .4s;
  transition: .1s;
}

/* input:checked + .slider {
  background-color: var(--color-bg)
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px white;
} */

.wrapper {
  padding: 1rem;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.29rem);
  -ms-transform: translateX(1.29rem);
  transform: translateX(1.29rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  padding: 0.7em 0;
  max-width: 1150px;
  /* width: min(100% - 3rem, 1150px); */
  margin-inline: auto;
}



ul {
  font-size: 0.7em;
}


#header.wrapper {
  position: fixed;
  padding: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  background: var(--color-bg);
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

  .header__start {
      width: 6em;
    } 
    .logo { display: flex; }
    .logo-emblem {  margin-right: 0.5em; }
    .logo-emblem > *  { fill: var(--color-fg); }

  .header__nav {
    display: flex;
    /* background: red; */
    width: 20em;
    justify-content: space-around;
  }

    .header__nav ul {
      display: flex;
      color: var(--color-grey4);
      gap: 2em;
    } 

    .header__nav a,
    .heaver__nav a:visited {
        padding: 0.5em 0.5em;
        color: var(--color-grey4);
        text-decoration: none;
    }

    .header__nav li.active a { 
      color: var(--color-fg);
    }

    .header__nav a:hover {
      text-decoration: none;
      color: var(--color-fg)
    }

  .header__cta {
    width: 6em;
  }



#hero.wrapper {
  width: 100%;
  /* background: radial-gradient(15em at center, #373737, #000) no-repeat; */
  padding-top: 5em;
  padding-bottom: 8em;
  background: var(--bg-pattern) no-repeat center bottom;
  background-size: clamp(45rem, 80vw, 70rem);
}


.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2.5em;
}

.hero__body {
  margin-top: 3em;
  /* background: url('../assets/terminal.svg') no-repeat center top; */
}

.signup {
  width: 90vw;
  display: flex;
  max-width: 16.5em;
  margin-top: 1em;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: var(--color-highlight);
}

.signup .email {
  padding: 1em;
  width: 100%;
  background-color: inherit;
  color: var(--color-fg);
  margin-right: 0.5em;
  font-size: 0.6em;
  flex: 2;
  border: 0;
  border-radius: 0.3em;
}

.signup button {
  max-width: 10rem;
}

.typer {
  font-family: 'Metrophobic', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0 auto;
  width: 23.2ch;
}

.typer p {
  overflow: hidden; 
  border-right: 1px solid; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret 2s step-end infinite;
    color: var(--color-primary);
    font-size: 1.1rem;
  /* color: #C1FFC1; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-primary); }
}

#faqs.wrapper {
  background: var(--separator) no-repeat center top;
  background-size: clamp(23em, 90vw, 80rem);
  margin: 0 auto;
}

.content.container {
  padding: 3.5em 0;
  max-width: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-chunk {
  display: block;
  width: 100%;
  padding-bottom: 2em;
}

.content h2, #hero h2 {
  margin-bottom: 2em;
}