@import './_reset.scss';

// Globals
:root {
    font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Colors
$color-primary: #1477FF;
$color-secondary: #37352E;
$color-text: #707070;
$color-bg: #ffffff;

$color-grey1: #EEEEEE;

// Typography
body, html, p {
    font-family: proxima-nova, sans-serif; // proxima regular
    font-weight: 400;
    font-style: normal;
    color: $color-text;
    scroll-behavior: smooth;
}

// $large-font: 50px <-- fix typography
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: $color-secondary;
    margin-bottom: 1rem;
    line-height: 1.5em;
} h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
} h2 {
    font-size: 2.3rem;
    color: $color-primary;
    margin-bottom: 1.2rem;
} h3 {
    font-size: 1.2em;
} h4 {
    font-size: 1.6rem;
    color: $color-text;
    line-height: 2.4rem;
} p {
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
} .bold {
    font-family: proxima-nova, sans-serif; // proxima bold
    font-weight: 700;
    font-style: normal;
} 


// Buttons & Links
a:link, a:visited {
    color: $color-primary;
}   a:hover {
    transition: all 0.5s;
    color: black;
    text-decoration: underline;
}

.btn {
    border: 1px solid $color-primary;
    background: $color-primary;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.88rem;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 2rem;
} .btn:hover {
    text-decoration: none;
    cursor: pointer;
}
    .btn.btn-primary {
        color: $color-bg;
        background: $color-primary;
    }
    .btn.btn-secondary {
        background: none;
        padding: 0.8rem 1.3rem;
    }

// Forms
.sign-up {
    display: flex;
    justify-content: space-between;
    background: $color-grey1;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 25px;
    position: relative;
    .btn {
        position: absolute;
        right: 10px;
    }
}
.text-field {
    background: $color-grey1;
    border: none;
    padding: 11px 15px;
    border-radius: 0.25rem;
    background: none;
    font-family: proxima-nova, sans-serif;
    font-size: 1rem;
    margin-right: 2px;
}