.feature .container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.25s;
}

#f2 .content-wrapper {
  flex-direction: row-reverse;
}

/* main content */
.content-container {
  flex: 1;
}

.content-container .content-btn:last-child { margin-bottom: 0; }

.content-btn {
  display: flex;
  position: relative;
  flex-direction: column;
  pointer-events: auto;
  cursor: pointer;
  /* border: 1px solid var(--color-highlight); */
  border: 1px solid var(--color-bg);
  padding: 1.75em;
  padding-top: calc(1.75em + 3px);
  border-radius: 0.75em;
  margin: 0 0.75em 0.75em 0; /* wider width */
}

.content-btn:not(.--active) h3 {
  text-decoration: underline;
}

.break {
  flex-basis: 100%;
  width: 0;
}

/* active border */
.content-btn:after {
  visibility: hidden;
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: none;
  border: 1px solid var(--color-highlight);
  border-top: 3px solid var(--color-primary);
}

.content-btn > * { pointer-events: none; }

.--active { pointer-events: none; }
.content-btn:hover { border: 1px solid var(--color-highlight); }
.content-btn.--active:after {
  visibility: visible;
}


/* aside demo */
.demo-aside {
  padding: 1em;
  background: var(--color-bg2);
  border: 1px solid var(--color-highlight);
  border-radius: 0.75rem;
  flex: 1.75;
  flex-shrink: 2;
  /* width: 37.5em; */
  height: 100%;
}
.demo { display: none; }
.demo__dt.--active { 
  display: flex;
  justify-content: space-around;
}
.demo-aside img { height: stretch; width: 100%; }
.demo-head {
  display: flex;
  height: 2em;
  margin-bottom: 1em;
  width: 100%;
}
.demo-head__btns {
  display: flex;
  width: 3em;
  height: 100%;
  justify-content: space-between;
  margin-right: 0.75em;
  /* background: red; */
}
.demo-head__btns > * {
  background: blue;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
}
.demo-head__bar {
  padding: 0.5em 1em;
  border-radius: 5em;
  line-height: 0.89;
  width: 100%;
  color: rgba(var(--color-rgb-fg), 0.2);
  background: rgba(var(--color-rgb-fg), 0.05);
}
.demo-head__btns span.red { background: var(--color-red); }
.demo-head__btns span.orange { background: var(--color-orange); }
.demo-head__btns span.green { background: var(--color-green); }
.demo-head__bar span { color: var(--color-primary); }



/* #d-1 { color: red;  }
#d-2 { background: blue; }
#d-3 { background: green; } */

/* .demo img {
  position: absolute;
  clip: rect(100px,0px,0px,100px);
  box-shadow: 0px 100px 50px var(--color-grey6);
} */

@keyframes peekaboo {
  from { bottom: -1rem; }
  to { bottom: 0; }
}

.next {
  position: relative;
  width: 100%;
  background: red;
  display: none;
  margin-left: 0.6ch;
 }
 .next:before {
  position: absolute;
  content: "🐰";
  animation-name: peekaboo;
  animation-duration: 0.25s;
  width: 2ch;
  text-align: center;
 }
 .next:after { 
  position: absolute;
  content: "";
  background: var(--color-bg);
  border-top: 1px solid var(--color-text);
  top: 1.6ch;
  width: 2ch;
  height: 1.5rem;
 }
.--active + .content-btn .next { display: inline; }

.card-cta {
  color: var(--color-link);
  margin-bottom: 0.5em;
}


.arrow { 
  margin-left: -0.5ch;
  margin-bottom: 0.05ch;
} .arrow__down {
  writing-mode: vertical-rl;
}

.--active .card-cta {
  display: none;
}

.break { display: none; }
.card-cta { display: none; }

@media screen and (max-width: 1000px) {
  .content-container {
    display: flex;
  }

  .content-btn {
    padding: 1.5em;
    flex-basis: 100%;
    margin: 0 0.5em 0.5em 0;
  }

  .break {
    display: inline-block;
    flex-basis: 100%;
    width: 0;
  }

  .demo-aside {
    min-height: 40em;
  }

  .content-btn:last-child { margin-bottom: 0.5em !important; }
}

@media screen and (max-width: 800px) {
  .demo-aside { display: none; }
  .card-cta { display: inline; }

  .content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content-container > * {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .content-btn:not(.--active) {
    border-bottom: 3px solid var(--color-highlight);
  }
  
  .content-btn h3 {
    font-size: 1.3rem !important;
  }

  /* clip demo image to bottom */
  .content-btn.--active {
    padding: 1.5rem;
    padding-bottom: 0;
  }

  .content-btn.--active .demo__mb { display: block; }

  .demo__mb {
    /* display: none; */
    /* background: var(--color-highlight); */
    /* border-bottom: 1px solid var(--color-grey1); */
    /* height: 50vh; */
    border-radius: 0.75em 0.75em 0 0;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  .demo__mb img {
    width: 100%;
  }

}


/* active arrow */
/* .content-btn:before { 
  position: absolute;
  visibility: hidden;
  content: "";
  border-left: 0.5rem solid var(--color-primary);
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--color-primary);
  border-bottom: 0.5rem solid transparent;
  transform: rotate(135deg);
  right: -0.5rem;
  top: 42%;
} */


/* .content-btn:focus.content-btn:after,
.content-btn:active.content-btn:after, */

/* .content-btn:hover, .content-btn:focus {
  border: 1px solid var(--color-highlight);
} */
/* .content-btn:active, .content-btn:focus, .--active {
  border-top: 3px solid var(--color-primary);
} */
/* .content-btn:hover h3, .content-btn:focus h3 { color: var(--color-primary); } */



/* .content-left {
  position: relative;
} */

/* .content-btn:after {
  display: block;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  content: "";
  height: 32.33%;
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 0.75rem;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .25s ease-out;
  transition: all 0.25s;
} */

/* .content-btn.__f1:hover.content-btn:after { top: 0; visibility: visible; }
.content-btn.__f2:hover.content-btn:after { top: 33%;visibility: visible; }
.content-btn.__f3:hover.content-btn:after { visibility: visible; top: 66%; } */

/* @keyframes slider {
  from { top: var(--current-pos); }
  to { top:  var(--new-pos); }
} */

/* .__f2:hover.content-btn:after {
  background: red !important;
} */