.content-wrapper {
  display: flex;
  transition: all 0.25s;
}

.content-left {
  margin-right: 2px;
}

.demo {
  background-color: var(--color-highlight);
  border: var(--color-highlight);
  border-radius: 0.75rem;
  height: 100%;
  width: 25em;
}

.content-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid var(--color-bg);
  margin-bottom: 2px;
  padding: 2rem 2rem;
  border-radius: 0.75rem;
}

.content-btn:hover {
  background-color: var(--color-highlight);
  cursor: pointer;
}

.content-btn.--active {
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}

.--active { 
  color: var(--color-primary);
}

/* .content .--btn:hover, .content .--btn:focus {

} */
