/* #features.wrapper, #faq.wrapper {
  background: var(--separator) no-repeat center top;
  background-size: clamp(23em, 90vw, 80rem);
  margin: 0 auto;
} */

.content.container {
  max-width: 18em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-chunk {
  display: block;
  width: 100%;
  padding-bottom: 2em;
}

.content h2, #hero h2 {
  margin-bottom: 1.5em;
}