
#header.wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--color-bg);
}

#header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
  align-items: center;
}

.list-x { 
  display: inline-flex;
  align-items: center;
}

.menu-list {
  display: inline-flex;
}


.header ul a,
.header ul a:visited {
  color: var(--color-nav);
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 0.45rem 0.75rem;
} .header ul a:hover, .header ul a:focus {
  color: var(--color-link);
} .header .active { 
  color: var(--color-fg);
}

  .header__left {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 25%;
    flex-shrink: 4;
  }

  a.logo__link { 
    margin-right: 0.5rem;
    display: flex;
    border-radius: 50%;
  }
  .logo svg {
    width: 2.5rem;
  }
  .logo-emblem > * { fill: var(--color-fg); }

  .header__mid  {
    position: relative;
  }


  .header__right {
    display: inline-flex;
    /* width: 100%; */
    /* max-width: 25%; */
  }

    .header__right .btn {
      display: flex;
      margin-left: 0.1rem;
      font-size: 0.8em;
      padding: 0.66rem 1rem;
    }
  
@media screen and (max-width: 650px) {
  .header__left {
    flex: 0;
  }
}