
#header.wrapper {
  position: fixed;
  background-color: var(--color-bg) !important;
  width: 100%;
  z-index: 999;
  background: var(--color-bg);
}

#header .container {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  align-items: center;
}

  .header__left {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    flex: 1;
    flex-shrink: 3;
  }

  .header__left > * {
    margin-left: 0.5rem;
  }
  
  #header .logo { 
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .logo-emblem > *  { fill: var(--color-fg); }

  .header__mid  {
    position: relative;
    display: flex;
    justify-content: center;
  }


    .header a,
    .header a:visited {
        color: var(--color-nav);
        text-decoration: none;
        padding: 0.5rem 1rem;
    }

    .header li.active a { 
      color: var(--color-fg);
    }

    .header a:hover, .header a:focus {
      text-decoration: none;
      color: var(--color-link);
    }

    .header__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
    } 

    .header__right .btn {
      font-size: 0.8em;
    }

  
@media screen and (max-width: 900px) {
  .header__left {
    flex: 0;
  }
}