
#header.wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--color-bg);
}

#header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
}

  .header__left {
    display: flex; 
    /* position: relative; */
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 20%;
  }

  .header__left > * {
    margin-left: 1rem;
  }
  
  #header .logo { 
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .logo-emblem > * { fill: var(--color-fg); }

  .header__mid  {
    display: flex;
    position: relative;
    justify-content: center;
    /* width: 10em; */
    /* max-width: 20em; */
    /* position: relative; */
  }

  ul.menu-wrapper {
    display: inline-block;
    /* display: inline-flex;
    align-items: center; */
  }


    .header a,
    .header a:visited {
      color: var(--color-nav);
      text-decoration: none;
      padding: 0.5rem 1rem;
    }

    .header .active { 
      color: var(--color-fg);
    }

    .header a:hover, .header a:focus {
      text-decoration: none;
      color: var(--color-link);
    }

    .header__right {
      justify-content: flex-end;
      /* flex: 1; */
    } .header__right ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__right .btn {
      font-size: 0.8em;
    }

  
@media screen and (max-width: 900px) {
  .header__left {
    flex: 0;
  }
}