.ico {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

.ico svg > * { fill: var(--color-nav); }
.ico:hover, .ico:focus { background: var(--color-highlight); } 
/* .ico-burger { display: flex; align-items: center; justify-content: center; } */

.menu-root { position: relative; }
/* arrow */
.menu-root::after { 
  position: absolute;
  visibility: hidden;
  content: "";
  border-left: 0.5rem solid var(--color-link);
  border-right: 0.5rem solid transparent;
border-top: 0.5rem solid var(--color-link);
  border-bottom: 0.5rem solid transparent;
  transform: rotate(45deg);
  left: 40%;
  top: 2.9rem;
  z-index: -99;
}

.ico.menu-root::after { top: 3.3rem; left: 0.65rem; }

/* hover filler */
.menu-root::before {
  position: absolute;
  top: 1.6rem;
  content: '';
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2rem;
}

/* .menu-wrapper { position: relative; }
.menu-root { position: relative; }

.menu-wrapper:hover .menu,
.menu-wrapper:hover > .menu-root::after { visibility: visible; z-index: 1; };

.menu-wrapper:focus > .menu,
.menu-wrapper:focus > .menu-root::after { visibility: visible; z-index: 1;}

.menu-wrapper:focus-within > .menu,
.menu-wrapper:focus-within > .menu-root::after { visibility: visible; z-index: 1; } */


.menu-wrapper:hover .menu,
.menu-wrapper:hover > .menu-root::after,
.menu-wrapper:focus > .menu,
.menu-wrapper:focus > .menu-root::after,
.menu-wrapper:focus-within > .menu,
.menu-wrapper:focus-within > .menu-root::after {
  visibility: visible; z-index: 1;
  display: block;
}



/* ul.item:hover > .menu,
ul.item li:focus-within > .menu,
ul.item li:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
} */

.menu {
  position: absolute;
  /* visibility: hidden; */
  display: none;
  left: 0;
  top: 3.3rem;
  width: 100%;
  min-width: 12em;
  background: var(--color-bg);
  border-radius: 0 0 0.6em 0.6em;
  border-radius: 0.6em;
  border-top: 3px solid var(--color-link);
  border-right: 1px solid var(--color-highlight); 
  border-bottom: 1px solid var(--color-highlight);
  border-left: 1px solid var(--color-highlight);
}

.menu a span { margin-right: auto; padding-right: 1rem;  }


  .menu ul {
    text-align: right;
    display: flex;
    font-size: 1.1rem;
    width: 100%;
    flex-direction: column;
    color: var(--color-text);
    margin-top: -2px;
  }

  .menu li:not(:last-child) { border-bottom: 1px solid var(--color-highlight); }

  .header .menu a {
    padding: 1em 1em;
    display: flex;
    justify-content: flex-end;
  }
  .header .menu a:hover, .header .menu a:focus, .menu a.fill { 
    background: var(--color-link);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: none;
   }

  .menu li:first-child a { 
    border-radius: 0.6rem 0.6rem 0 0; 
    padding-top: 1.5em;
  }
  .menu li:last-child a { 
    padding-bottom: 1.5em;
    border-radius: 0 0 0.6rem 0.6rem
  };



.switch-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.switch {
  position: relative;
  display: flex;
  border-radius: 4rem;
  width: 2.4rem;
  height: 1.4rem;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* slider outline */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: -5px;
  -webkit-transition: .4s;
  transition: .1s;
  border: 3px solid var(--color-nav);
}

/* slider circle */
.slider:before {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  left: 3px;
  bottom: 0.15rem;
  background-color: var(--color-fg);
  -webkit-transition: .4s;
  transition: .1s;
}

/* burger menu tappable area */
.slider-cover::after {
  position: absolute;
  width: 18rem;
  height: 3.9rem;
  /* border: 1px solid red; */
  content: "";
  left: -1.8rem;
  bottom: -1.4rem;
  -webkit-transition: .4s;
  transition: .1s;
}

/* input:checked + .slider {
  background-color: var(--color-bg)
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px white;
} */

/* rounded outline */
.slider.round {
  border-radius: 2rem;
}

/* rounded inner */
.slider.round:before {
  border-radius: 50%;
}