#cmenu-content-root .title { cursor: pointer; color: red !important;}
.ico {
  /* padding: 0.5rem 0.8rem; */
  position: relative;
  margin-left: 1rem;
  border-radius: 0.2em;
  pointer-events: all;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* larger touch area */
.mb .ico::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3rem
}

.ico svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  pointer-events: none;
}

.ico svg > * { fill: var(--color-nav); }
/* .--active .ico svg > * { fill: var(--color-fg); } /* active */
#nav-close { display: none; }

.dropdown { 
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 0.7em;
  height: 0.7em;
  /* background: red; */
}
.dropdown svg { width: 0.7em; height: 0.7em; }
.dropdown.--close svg { width: 0.6em; }
.dropdown svg > * {  fill: var(--color-nav); }
.dropdown.--close svg > * { fill: var(--color-link); }
.dropdown.--close { display: none; }


/* arrow */
.menu-root::after { 
  position: absolute;
  display: none;
  content: "";
  border-left: 0.5rem solid var(--color-link);
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--color-link);
  border-bottom: 0.5rem solid transparent;
  transform: rotate(45deg);
  left: calc(50% - 0.5rem);
  top: 2.5rem;
}

/* hover filler */
.menu-root::before {
  position: absolute;
  top: 1.6rem;
  content: '';
  width: 100%;
  display: flex;
  height: 2rem;
}

/* open & close icons */
.menu-list .--active { pointer-events: all; }
.menu-list .--active .dropdown.--open { display: none; }
.menu-list .--active  .dropdown.--close { display: inline-flex; }
.menu-list:hover .dropdown.--open svg > * { fill: var(--color-link); }

/* show & hide menu & pointer (dt only so doesnt mess with mb js)  */
@media screen and (min-width: 600px) { 
  .menu-list:hover .menu,
  .menu-list:hover .menu-root:after,
  .menu-list:focus > .menu,
  .menu-list:focus > .menu-root::after,
  .menu-list:focus-within > .menu,
  .menu-list:focus-within > .menu-root::after {
    visibility: visible;
    display: block;  
  }
}
.menu-root.--active + .menu,
.menu-root.--active::after {
  visibility: visible;
  display: block;
}

/* burger touch */
.menu-list.--active #nav-open { display: none; }
.menu-list.--active .menu,
.menu-list.--active .menu-root::after,
.menu-list.--active #nav-close  {
  display: block;
  visibility: visible;
  pointer-events: all;
}

/* .menu-list { position: relative; } */
.menu-root { position: relative; } 

.menu {
  position: absolute;
  visibility: hidden;
  display: none;
  right: 0;
  top: 2.9rem;
  min-width: 15rem;
  width: 100%;
  background: var(--color-bg);
  border-radius: 0.6rem;
  border: 1px solid var(--color-highlight);
  border-top: none;
}

#burger-list.mb .menu { 
  width: 70vw;
  margin-right: 0.5rem;
  margin-top: 1em; 
}

@media screen and (max-width: 600px) {
  .menu { font-size: 1.2rem; }
  .header__mid .menu-list {
    justify-content: center;
    width: calc(100vw - 8rem);
  }

  .header__mid .menu-root { font-size: 1.2rem; }
  
  /* arrow */
  #burger-list .menu-root::after { top: 2.6rem;}
}

.menu a span { margin-right: auto; padding-right: 1rem; }

  .menu ul {
    min-width: 15rem;
    font-size: 1.1rem;
    flex-direction: column;
    color: var(--color-text);
    margin-top: -2px;
  }

  .menu li:not(:last-child) { border-bottom: 1px solid var(--color-highlight); }

  .header .menu a {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    padding: 1em 1em;
    text-align: right;
  }
  
  .header .menu a:hover, .header .menu a:focus, .menu a.fill { 
    background: var(--color-link);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: none;
   }
  
   .header ul a.--active:not(:hover) {
    background: var(--color-link);
    color: var(--color-bg);
    /* color: #A2DFA3; dark alternative */
    /* background: #001600; dark latneriatve */
   }

  .menu li:first-child a { 
    border-top: 3px solid var(--color-link);
    border-radius: 0.6rem 0.6rem 0 0; 
    padding-top: 1.5em;
  }
  .menu li:last-child a { 
    padding-bottom: 1.5em;
    border-radius: 0 0 0.6rem 0.6rem
  };



.switch-wrapper { 
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.3rem;
  height: 1.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--color-nav);
  /* background-color: #ccc; */
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  left: 0.2rem;
  top: 0.1rem;
  background-color: var(--color-fg);
  -webkit-transition: .4s;
  transition: .2s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.91em);
  -ms-transform: translateX(0.91rem);
  transform: translateX(0.91rem);
}


.slider-cover:after {
  position: absolute;
  content: "";
  height: 3.9rem;
  left: -1.2rem;
  width: 70vw;
  bottom: -1.4rem;
  -webkit-transition: .4s;
  transition: .1s;
} 